<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.filomenadeveloper.myunheiro" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnheiroAndroid.NoActionBar" >
        <activity
            android:name=".Comerciante.ui.Screen_Main_Salao"
            android:label="@string/title_activity_screen__main__salao" >
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ActivityDrawer"
            android:label="@string/app_name" />
        <activity
            android:name=".Admin.AdminActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity_maps_customer"
            android:label="@string/title_activity_maps_customer" />
        <activity
            android:name=".ui.Menu.TablePrice_Activity"
            android:label="@string/title_tableprice"
            android:theme="@style/Theme.UnheiroAndroid.ActionBar" />
        <activity
            android:name=".ui.Profile.Profile"
            android:label="@string/menu_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UnheiroAndroid.ActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_drawer" />
        <activity
            android:name=".Screen_Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>